$primary: #000000;
$secondary: #ffff00;
$tertiary: #7109AA;

@function dynamic-text-color($color) {
    // return dark text on light background
    @if (lightness($color) > 40) {
      @return #000;
    } 
    // return light text on dark background
    @else {
        @return #fff;
    }
}
@mixin build-color-variables($type, $color) {
    $light-i: 4;
    $dark-i: 1;
    --#{$type}0: #ffffff;
    @for $i from 1 through 9 {
        
        /*$css-var: --#{$type}#{$i * 100};
        $css-var-text: --#{$type}#{$i * 100}-text;*/
        $var: null;
        @if ($i < 5) {
            $var: lighten($color, $light-i * 10%);
            --#{$type}#{$i * 100}: #{$var};
        } @else if ($i == 5) {
            $var: $color;
            --#{$type}#{$i * 100}: #{$color};
        } @else {
            $var: darken($color, ($dark-i * 5%));
            --#{$type}#{$i * 100}: #{$var};
            $dark-i: $dark-i + 1;
        }
        --#{$type}#{$i * 100}-text: #{dynamic-text-color($var)};
        $light-i: $light-i - 1;
    }
    --#{$type}1000: #000000;
}

:root {

    
    @include build-color-variables(primary, $primary);
    @include build-color-variables(secondary, $secondary);
    @include build-color-variables(tertiary, $tertiary);
    --header-navigation-text: #ffffff;
}

html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;

    *,
    :before,
    :after {
        box-sizing: border-box;    
    }

    body {
        display: block;
        font-size: 1.6rem;
        font-family: "Helvetica Neue";
        font-size: 1.6rem;
        line-height: 1.5;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -moz-tap-highlight-color: rgba(0, 0, 0, 0);

        

        main {
            margin: 2vw;
            display: flex;
            justify-content: center;

            a:link, a:visited, button, input[type="button"] {
                min-width: 20rem;
                max-width: 300px;
                padding: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--tertiary500);
                border: 2px solid var(--tertiary500);
                color: var(--tertiary500-text);
                font-size: 1.4rem;
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;

                &:hover {
                    background-color: var(--tertiary800);
                    color: var(--tertiary800-text);
                    border: 2px solid var(--tertiary800);
                }
            }

            
        }
    }
}

html, body, figure, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}